@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-accent: #f97316;

  /* Menambahkan font family default yang bersih (Inter/San Francisco style) */
  --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  --container-center: true;
  --container-padding: 1.5rem; /* Padding container sedikit lebih lega */
}

@custom-variant dark (&:where(.dark, .dark *));

/* Global Styles untuk scrollbar halus & typography */
body {
  background-color: #ffffff; /* Pastikan background putih bersih */
  color: #1f2937; /* Gray-800 untuk teks utama */
  -webkit-font-smoothing: antialiased;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-marquee {
  animation: marquee 30s linear infinite;
}
